<h1>Information for <%= @hospital.name %></h1>
<section class="hospital-details">
  <h4>Name of Hospital: <%= @hospital.name %></h4>
  <h4>Currently Served By <%= @hospital.doctor_count %> Doctors</h4>
</section>

<section class="doctor-education">
  <% @unique_universities.each do |university| %>
    <%= university %>
  <% end %>
</section>
